@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  
  padding: 0;
  font-family: sans-serif;
  background: url(DIARY8.png) no-repeat;
  background-size: cover;

}
::-webkit-input-placeholder{
color: rgb(211, 207, 207);
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-40%);
  color: white;
}
.login-box h1{
 margin-left: 75px;
  font-size: 40px;
  border-bottom: 4px solid #3a3939;
  margin-bottom: 10px;
  border-left-width: 28px;
  padding: 13px 0;
  float: left;
}
.txt{
  color: aliceblue;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #3a3939;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
 background-color:  #3a3939;
  border: 2px solid #3a3939;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  border-radius: 40px 40px;
}